{% extends "layout.html" %}

{% block content %}
<h1 style="text-align: center">Welcome to Robocraig</h1>

<div><br>


    <div class="jumbotron" style="background-color: aliceblue">
        <h5>
            <ul>
                <li>Enter some search details for an item in Minneapolis Craigslist</li><br>
                <li>Your searches will be saved</li><br>
                <li>Robocraig will automatically search for Craigslist results with those details</li><br>
                <li>You can update your searches with different filters, and you can delete your searches</li><br>
                <li><a href="{{ url_for('register')}}">Register</a> to begin creating searches, or <a href="{{ url_for('login')}}">login</a> if you already have an account</li>
            </ul>

        </h5>
    </div>
</div><br>
<div class="container">



    <h2>Step 1: Create a search</h2><br>
    <h2>Step 2: Review your Saved Searches</h2><br>
    <h2>Step 3: Scrape Searches from Craigslist</h2><br>


</div>

{% endblock content %}