{% extends "layout.html" %}
{% block content %}

              <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Search Item</th>
                        <th scope="col">Category</th>
                        <th scope="col">Zip Code</th>
                        <th scope="col">Max Distance</th>
                        <th scope="col">Max Price</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ search.search_term}}</td>
                        <td>{{ search.category }}</td>
                        <td>{{ search.zip_code }}</td>
                        <td>{{ search.max_distance }}</td>
                        <td>{{ search.max_price }}</td>
                        <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_search', search_id = search.id) }}">Update</a></td>
                        <td><form action="{{ url_for('delete_search', search_id=search.id) }}" method="POST">
                                <input class="btn btn-danger btn-sm m-1" type = "submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                </tbody>
              </table>
{#          </div>#}
{#        </article>#}
{% endblock content %}