alabaster==0.7.12
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
Babel==2.6.0
bcrypt==3.1.4
beautifulsoup4==4.6.3
blinker==1.4
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
cryptography==2.4.1
cssselect==1.0.3
Django==2.1.2
docutils==0.14
Flask==1.0.2
Flask-Bcrypt==0.7.1
flask-heroku==0.1.9
Flask-JSGlue==0.3.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
flickrapi==2.4.0
gitdb2==2.0.4
GitPython==2.1.11
gunicorn==19.9.0
hyperlink==18.0.0
idna==2.7
imagesize==1.1.0
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.0
oauthlib==2.0.1
packaging==18.0
parsel==1.5.1
Pillow==5.3.0
psycopg2==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.3.0
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
pyparsing==2.3.0
pytz==2018.5
queuelib==1.5.0
requests==2.20.0
requests-oauthlib==0.7.0
requests-toolbelt==0.8.0
requirements==0.1
Scrapy==1.8.1
service-identity==17.0.0
six==1.10.0
smmap2==2.0.4
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.12
Twisted==18.9.0
unsplash==1.0.0a2
urllib3==1.23
w3lib==1.19.0
Werkzeug==0.14.1
wikipedia==1.4.0
WTForms==2.2.1
zope.interface==4.6.0
